[submodule ".vim/vundle.git"]
	path = .vim/vundle.git
	url = git://github.com/gmarik/vundle.git
[submodule ".vim/neobundle/neobundle.vim"]
	path = .vim/neobundle/neobundle.vim
	url = git://github.com/Shougo/neobundle.vim.git
