[user]
    name = kubor
    email = ryuichi_kubo@caddi.com

[core]
    editor = nvim
    pager = delta
    excludesFile = ~/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    line-numbers = true

[merge]
    conflictStyle = zdiff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[push]
    autoSetupRemote = true

[rebase]
    autoStash = true

[init]
    defaultBranch = main

[fetch]
    prune = true
